doctype html
html
  head
    title= title
  body
    header
      h1= title
      nav
        ul
          li: a(href='/') Ana Sayfa
          li: a(href='/about') Hakkında
          li: a(href='/auth/login') Giriş Yap
    block content
