extends layout

block content
  .d-flex.justify-content-center.align-items-center.min-vh-100
    .col-md-6
      .card
        .card-body
          h2.text-center Giriş Yap
          if error
            .alert.alert-danger
              p= error
          form(action="/auth/login" method="post")
            .form-group
              label(for="username") Kullanıcı Adı:
              input.form-control.form-control-sm(type="text" name="username" id="username" required)
            .form-group
              label(for="password") Şifre:
              input.form-control.form-control-sm(type="password" name="password" id="password" required)
            button.btn.btn-primary.btn-block(type="submit") Giriş Yap
