extends layout

block content
  .d-flex.justify-content-center.align-items-center.min-vh-100
    .col-md-6
      .card
        .card-body
          h2.text-center Kayıt Başarılı
          p Tebrikler, kaydınız başarılı bir şekilde oluşturulmuştur!
          a(href="/login") Giriş Yap
